// ======================================
//  Typography
// ======================================

.title {
  font-family: 'Rubik Mono One', sans-serif;
  margin: 0;
  font-size: 1.35em;
  @media (min-width: 768px) {
    font-size: 2em;
  }
}

.subtitle {
  margin-bottom: 0;
  font-size: 1em;
  font-style: italic;
  @media (min-width: 768px) {
    font-size: 1.5em;
  }
}

.subtitle,
.aside,
.main {
  font-family: 'Rubik', sans-serif;
}

.title,
.subtitle {
  color: $white;
}

.header {
  background-color: map-get($theme, 2);
  padding: 1em 0;
}

.message {
  font-size: 1.25em;
  margin: 0;
}

.movie-title {
  text-decoration: underline;
  font-size: 1.25em;
  padding: .5em 0;
  @media (min-width: 768px) {
    font-size: 1.6em;
  }
}

.movie-info {
  font-size: 1em;
  @media (min-width: 768px) {
    font-size: 1.25em;
  }
}

.opening_crawl {
  font-style: italic;
  padding: .5em 0;
}
