// ======================================
//  Typography
// ======================================

.title {
  font-family: 'Rubik Mono One', sans-serif;
  margin: 0;
}

.subtitle {
  margin-bottom: 0;
}

.subtitle,
.aside,
.main {
  font-family: 'Rubik', sans-serif;
}

.title,
.subtitle {
  color: $white;
}

.header {
  background-color: map-get($theme, 2);
  padding: 1em 0;
}

.aside {
  // background-color: map-get($theme, 5);
}

.message {
  font-size: 2em;
  margin: 0;
}

.main {
  color: map-get($theme, 1);
}

.movie {
  font-size: 1.2em;
}
