// ======================================
//  Typography
// ======================================

.title {
  font-family: 'Rubik Mono One', sans-serif;
  margin: 0;
  font-size: 1.35em;
}

.subtitle {
  margin-bottom: 0;
  font-size: 1em;
}

.subtitle,
.aside,
.main {
  font-family: 'Rubik', sans-serif;
}

.title,
.subtitle {
  color: $white;
}

.header {
  background-color: map-get($theme, 2);
  padding: 1em 0;
}

.message {
  font-size: 1.5em;
  margin: 0;
}

.movie-dropdown {
  border-color: inherit;
}

.main {
  color: map-get($theme, 1);
  perspective: 400px;
}

.movie-list {
  transform: rotateX(30deg);
}

.movie {
  font-size: 1.1em;
}
