// ======================================
//  Variables
// ======================================

$theme: (
  1: #d0b771,
  2: #ac0810,
  3: #e0231b,
  4: #0e7ee2,
  5: #53bbea,
  6: #38e1a3,
  7: #1ab69f,
  8: #b6a07e,
  9: #a16527,
  10: #c0b39e
);

$white: #fff;

$black: #000;
